<ion-view hide-nav-bar="true" style="background:url('css/images/cities/cleveland.jpg');background-size:110%;background-position: top;">
    <ion-content scroll="false">
        <div class="padding" style="margin-top:40px;text-align:center">
            <div style="color:#c41411;text-shadow:0px 0px 4px rgba(64,0,0,.25);font-size:72px">
                <b>YEPIC</b>
            </div>
            <div style="color:#333;font-size:24px;margin-top:30px;line-height:24px;text-shadow:0px 0px 20px rgba(255,255,255,1);">fun things to do and fun
                <br> people to do them with
            </div>
        </div>

        <div class="list list-inset">
          <label class="item item-input">
            <input ng-model="login.email" type="text" placeholder="email">
          </label>
          <label class="item item-input">
            <input ng-model="login.pass" type="text" placeholder="password">
          </label>
        </div>

        <button class="button button-full button-positive" ng-click="loginFn(login)">
        login
       </button>

       <button class="button button-full button-positive" ui-sref="tab.dash">
        go Dash
       </button>
      <a ui-sref="tab.dash">dash</a>

    </ion-content>
</ion-view>
