
<ion-nav-bar class="bar-positive "  align-title="left">
    <ion-nav-back-button class="no-text">
    </ion-nav-back-button>
</ion-nav-bar>

<nav class="has-header" mfb-menu position="tr" effect="zoomin" label="close"
     active-icon="ion-close-round" resting-icon="ion-plus-round"
     toggling-method="click">
  <button mfb-button icon="ion-android-car" label="placas"></button>
   <button mfb-button icon="ion-gear-a" label="ajustes"></button>
    <button mfb-button icon="ion-android-options" label="menu item"></button>
</nav>


<ion-nav-view name="menuContent" class="expanded" ></ion-nav-view>