<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{FC.title}}">
    <ion-content class="padding animate-fade-slide-in">
       <!--  <ion-list>
            <ion-item ng-repeat="item in FC.fotos">
                {{ item.path}}
            </ion-item>
        </ion-list> -->
        <div class="list half">
            <div ng-if="$even" ng-repeat="foto in FC.fotos | orderBy:'-$id'" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>{{foto.name}}</h2>
                    <img class="full-image" ng-src="img/{{foto.path}}">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 2
                    </a>
                </div>
            </div>
          <!--   <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Where's Elsa?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 2
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Hmm. Hope nobody destroys this!</h2>
                    <img class="full-image" src="img/sansa-snowcastle.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 1
                    </a>
                </div>
            </div> -->
        </div>
        <div class="list half">
         <div ng-if="$odd" ng-repeat="foto in FC.fotos | orderBy:'-$id'" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>{{foto.name}}</h2>
                    <img class="full-image" ng-src="img/{{foto.path}}">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 2
                    </a>
                </div>
            </div>
           <!--  <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Making Olaf a House</h2>
                    <img class="full-image" src="img/sansa-snowcastle2.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 9
                    </a>
                </div>
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>ohai!</h2>
                    <img class="full-image" src="img/sansa-snowcastle4.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 0
                    </a>
                </div>
            </div> -->
        </div>
    </ion-content>
    <button class="button  button-positive button-fab button-fab-bottom-right" ng-click="FC.addFoto()">
        addFoto
    </button>
</ion-view>
