<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{FC.title}}">
    <ion-content ng-class="{expanded:FC.isExpanded}" class=" animate-fade-slide-in">
        <div ng-show="AppCtrl.mobileTest" scm-animate-fotos-list height="{{FC.height}}" animation="slideUp" delay="100" ng-repeat="foto in FC.m_fotos | orderBy:'-$id'" class="hero slide-up padding" background-image path="data:image/jpeg;base64,{{foto.path}}">
            <div class="content">
                <div class="avatar" background-image path="data:image/jpeg;base64,{{foto.path}}"></div>
                <h3><a class="light">{{foto.name}}</a></h3>
                <h4>{{foto.name}}</h4>
            </div>
        </div>
        <div ng-hide="AppCtrl.mobileTest" scm-animate-fotos-list animation="slideUp"  height="{{FC.height}}"delay="100" ng-repeat="foto in FC.fotos | orderBy:'-$id'" class="hero slide-up padding" background-image path="img/{{foto.path}}">
            <div class="content">
                <div class="avatar" background-image path="img/{{foto.path}}"></div>
                <h3><a class="light">{{foto.name}}</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="list half">
            <div scm-animate-fotos-list delay="300" animation="fadeSlideInRight" ng-if="$even" ng-repeat="foto in FC.fotos | orderBy:'-$id'" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>{{foto.name}}</h2>
                    <img class="full-image" ng-src="img/{{foto.path}}">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 2
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div scm-animate-fotos-list delay="200" animation="fadeSlideInRight" ng-if="$odd" ng-repeat="foto in FC.fotos | orderBy:'-$id'" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>{{foto.name}}</h2>
                    <img class="full-image" ng-src="img/{{foto.path}}">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i> 4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i> 2
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    <button ng-click="AppCtrl.setMobileTest(!AppCtrl.mobileTest)" scm-fab delay="1400" class="button button-fab button-fab-bottom-left expanded button-energized-900 spin">
        <i class="icon ion-heart"></i>
    </button>
    <button scm-fab delay="800" class="button  button-energized button-fab button-fab-bottom-right expanded drop" ng-click="FC.addFoto()">
        <i class="icon ion-plus">
    </button>
      <button ng-show="AppCtrl.mobileTest" scm-fab delay="800" id="fab-gallery-plus" class="button  button-positive button-fab button-fab-bottom-right expanded drop" ng-click="FC.m_addFoto()">
        <i class="icon ion-plus">
    </button>
</ion-view>
