<ion-view view-title="{{PC.title}}">
    <ion-nav-buttons side="right">
        <button ng-click="PC.setFocus(!PC.hasFocus)" ng-hide="PC.hasFocus" class="button button-positive button-clear button-icon icon ion-search animated">
        </button>
        <div ng-show="PC.hasFocus" class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="busqueda" ng-model="PC.filterString">
            </label>
            <button class="button button-clear button-icon icon ion-close-circled" ng-click="PC.setFocus(!PC.hasFocus)">
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-right" href="#/tab/placas/{{placa.$id}}" ng-repeat="placa in PC.placas | filter:{name:PC.filterString}">
                <!-- <img ng-src="img/{{placa.path}}"> -->
                <img scm-letter-avatar data="{{placa.name}}"></img>
                <h2>{{placa.name}}</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <!--     <a class="item item-avatar item-icon-right" href="#">
                <ng-letter-avatar data="uttesh"></ng-letter-avatar>
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>

             <a class="item item-avatar item-icon-right" href="#">
                <img scm-letter-avatar data="uttesh"></img>
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-chatbubble muted"></i>
            </a> -->
        </div>
    </ion-content>
</ion-view>
