<ion-view view-title="Placas" cache-view="true">
    <ion-content>
        <!--  {{PC}} -->
       <!--   <ion-list  animate-fade-slide-in-right>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in PC.placas" type="item-text-wrap" href="#/tab/placas/{{chat.$id}}">
                
                    <img ng-src="{{chat.face}}">
                    <h2>{{chat.placa}}</h2>
                    <p>{{$index +1}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list> -->
        <!-- <div class="content has-header"> -->
        <div class="content ">


            <div class="list animate-fade-slide-in-right">

            <!-- funcionando bien pero debo darle un timeout para ver la animacion -->
                <a href="#/tab/placas/{{placa.$id}}" scm-animate-placas-list ng-repeat="placa in PC.placas track by placa.$id | orderBy:'-$id'" class="item  item-avatar item-icon-right">
                    <img ng-src="img/{{placa.path}}">
                    <h2>{{placa.name}}</h2>
                    <p>{{placa.placa}}</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>

                <!-- de ejemplo -->
                <!-- <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/daenerys.jpg">
                    <h2>Daenerys Targaryen</h2>
                    <p>Dragon mommy</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya.jpg">
                    <h2>Arya Stark</h2>
                    <p>Is Chuck Norris' fear</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a> -->
            </div>
        </div>
    </ion-content>
    <button scm-fab delay="1000" class="button button-energized button-fab button-fab-bottom-right expanded spin" ng-click="PC.addPlaca()">
      <i class="icon ion-plus">
    </button>
</ion-view>
